@charset "utf-8";


@import "materialize/components/color";
$ci-1: #003399;         // eu blue
$ci-2: #FBD100;         // eu yellow
$primary-color: color("indigo", "base") !default;
@import "materialize";

@import "template";

#logo-container.brand-logo {
  height: 44px;
  img {
    width: 100%;
  }
}

.card .card-image .card-title {
  background-color: rgba(0, 0, 0, 0.4);
}


@media #{$large-and-up} {
  .center-on-large-only {
    text-align: center;
  }
}
.intro-heading {
  background: transparent url("/img/header-meu2015.jpg") no-repeat scroll center center / cover;
  height: 100vh;
  color: white; 
  @media #{$large-and-up} {
    align-items: center;
    justify-content: center;
  }
  .title {  
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 0px;
    h1 {
      font-weight: 300;
      div {
        float: left;
      }
      .box {
        text-transform: uppercase;
        background-color: rgba(100%,100%,100%,0.8);
        padding: 0px;
        padding-right: 0.75rem;
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 200;
      }
      .eu {
        white-space: nowrap;
      }
      .year {
        color: $ci-2;
      }
    }
    h2.city {
      clear: both;
      margin-top: 0em;
      font-family: "Nobile", sans-serif;
      font-weight: 700;
      font-style: italic;
    }
  }
}

.waves-effect.waves-blue .waves-ripple {
  @extend .indigo;
}