---
title: Role Descriptions
navigation_order: 20
---
p.caption
  |
    MEUS 2015 being a simulation of the European institutions, each and every
    participant will be given a role, according to their choice, to ensure the
    closest adequacy with the actual institutions.
p
  |
    Every role offers different opportunities in terms of simulation experience.
    Not only should an MEP, a Minister or a Lobbyist be a good speaker, but also
    be able to shrewdly interact with other MEPs/Ministers/Lobbyists to try and
    convince them. A journalist will need to astutely choose whom to interview,
    observe everything and relate all events. Interpreters will be absolutely
    necessary to ensure a perfect understanding during debates and avoid any
    dialogue of the deaf. Each role is mostly important and a good handling of
    them will result in a passionate and thrilling simulation.

.row        
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        span.card-title Member of the European Parliament
        p
          |
            Members of the European Parliament (MEP) are directly elected to represent the citizens
            of the 28 EU Member States in the European Parliament. As in national parliaments,
            these representatives work together in political groupings at an EU level. With
            support from their respective factions, MEPs debate and discuss proposals drafted
            by the European Commission, reports delivered by other EU institutions and general
            developments in EU life.
      .card-action
        = link_to 'Learn More', 'mep.html'

        
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        span.card-title Minister of the Council
        p
          |
            As a Minister of the Council you are a member of one of the most
            influential actors in the European Union. The atmosphere in the
            Council is somewhat more intimate than in the European Parliament
            and thus there is more potential time to make your country's position
            known. This is therefore a demanding role and there are no back-benches
            to hide.
      .card-action
        = link_to 'Learn More', 'minister.html'

.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        span.card-title Journalist
        p
          |
            The buzz of excitement and productivity is commonplace in the Model
            European Union pressroom as you are tasked with one of the most
            freelance of roles. Throughout the week, your fast-paced life revolves
            around a daily newspaper, press conferences and continuous pursuit
            of news, scandals, and memorable quotes. The job is never done and
            you stay focused even when the social programme is on. Updating
            participants about the progress of the conference is your main
            objective. Your job is to record the simulation in Strasbourg,
            both inside the European Parliament building and on the streets
            of the Alsace capital, by producing a daily newspaper (in tabloid
            and broadsheet forms on alternate days), a daily video newscast, a
            photo portfolio as well as a promotional video for next year's conference.
      .card-action
        = link_to 'Learn More', 'journalist.html'

  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        span.card-title Lobbyist
        p
          |
            The increasing importance of EU institutions over the past few decades
            has meant that Brussels has become the second largest centre of
            lobbying globally, after Washington DC. There are currently an
            estimated 15,000 lobbyists and 2,500 lobbyist organisations in Brussels.
            The relatively distant and technocratic nature of EU governance means
            that lobbyists play an important role in representing the EU population
            via interest groups, including industry groups, NGOs, trade unions
            and think tanks. Lobbyists provide valuable expertise and representation
            of interests that might otherwise be ignored at a European level.
      .card-action
        = link_to 'Learn More', 'lobbyist.html'    

.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        span.card-title Interpreter
        p
          |
            MEU is a simulation of European politics that enables young Europeans
            to experience first-hand the EU legislative procedure, discuss and
            eventually pass or reject two proposals. But to interpreters-to-be,
            MEU is something more: an excellent opportunity to learn, grow and
            practice in the European Parliament booths.
      .card-action
        = link_to 'Learn More', 'interpreter.html'

  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        span.card-title Chair
        p
          |    
            At MEU Strasbourg 2015 both the European Parliament and the Council of
            Ministers will be presided over by a team of two chairs. The titles
            themselves – President and Vice President of the Parliament/Council
            imply a great level of importance and responsibility that chairs hold at
            MEU. It is the chairs who are responsible for the smooth running of the
            debates in both chambers, a role that is not the most visible one when
            things are going well, however an absolutely vital one at all times.
      .card-action
        = link_to 'Learn More', 'chair.html'