---
title: Eligibility
navigation_title: Participating
navigation_order: 30
---
.row
  .col.s12.m8    
    markdown:
      MEUS 2015 is open to any young people who are curious about the functioning
      of the European Institutions, want to actively take part in a lifelike
      simulation and are residents of one of the following:

      - 28 Member States of the European Union
      - EFTA members of the EEA countries (Iceland, Liechtenstein, Norway and Switzerland)
      - Republic of Turkey
      - Former Yugoslav Republic of Macedonia
      - Eastern Partnership Countries: Armenia, Azerbaijan, Belarus, Georgia, Moldova, Ukraine
      - Southern Mediterranean Countries: Algeria, Egypt, Israel, Jordan, Lebanon, Libya, Morocco, Palestine, Syria, Tunisia
      - Western Balkans: Albania, Bosnia and Herzegovina, Kosovo, Montenegro, Serbia
      - Russian Federation

      People from 18 to 26 years old are most welcome to MEUS 2015. A suitable
      applicant is a tolerant and open person who is much into debating and
      exchanging viewpoints. An important trait would also be both the sociability
      and curiosity of the applicant towards others. Being able to actively
      participate to a debate and relate to others is definitely the key point
      of getting a lot out of the simulation and enjoying this incredible experience.
      
      [Learn about Roles](../model-eu/roles/index.html){:.waves-effect.waves-light.btn}
      
      
    
    
  .col.s12.m4
    = image_tag 'cards-participate.jpg', style: 'max-width: 100%;'